<div class="container">
  <hr>
	<h1 class="text-center">Contact Us</h1>

	<address>
	  <strong>Thought Byte, Inc.</strong><br>
	  1135 Clifton Ave, Suite # 207<br>
	  Clifton, NJ 07013<br>
	  <abbr title="Phone">P:</abbr> 908-226-9010
	</address>

	<address>
	  <strong>Full Name</strong><br>
	  <a href="mailto:#">first.last@example.com</a>
	</address>
</dir>