 
 <!-- slider -->
    <%=  render 'static/slider' %>
  <!-- Slider -->
<div class="container">

	<hr>

 <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
<!--            <img class="img-circle" src="" alt="Generic placeholder image" width="240" height="240">
 -->          <h2>Product Development</h2>
          <p>ThoughtByte specializes in Enterprise Web Application customization and web development services, Apart from web development we also provide professional level services of website designing, custom software development ....</p>
          <p><a class="btn btn-default" href="/products" role="button"> Products &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-lg-6">
<!--           <img class="img-circle" src="" alt="Generic placeholder image" width="240" height="240">
 -->          <h2>Technology Consulting</h2>
          <p>We offer Mobile Application Development solutions on a variety of platforms like iPad, iPhone and Android. We offer customized mobile application development ...</p>
          <p><a class="btn btn-default" href="/" role="button"> Consulting &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Corporate Training. <span class="text-muted"> Reach technology spectrum.</span></h2>
          <p class="lead">Our interactive training provides “concept, problem and Solution system” which provides a step-by-step approach for all candidates </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/assets/slider3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">DevOps <span class="text-muted"> Improves product development process.</span></h2>
          <p class="lead">ThoughtByte DevOps culture is a mixed culture of Development and Operations processes. Our training is designed to build devops mindset.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/assets/slider2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Big Data Analytics <span class="text-muted"> We process data </span></h2>
          <p class="lead">Big Data research on Internet Of Things drives amazing innovation which opens up unimaginable doors for the future..</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/assets/slider5.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

</div>