.body{
	 background-color: #D1DBBD;
	 text-decoration-color: #FCFFF5;
}

.navbar{
	background-color: #3E606F;
}

.footer {
    background-color:#193441;
    padding:30px;
}
.jumbotron{
	background-color: #D1DBD2
}
h3{
	text-decoration-color: #193441; 

}